
html, body {
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    background-color: #e4e4e4;
    height: 100%;
}
body {
    font-size: 18px;
    line-height: 1;
    font-family: 'Arial', sans-serif;
}
h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-weight: normal;
}

div {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}

.button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* ---------------table */
td {
    white-space: nowrap;
    padding-right: 1em;
    padding-left: 0.5em;
    border: 1px solid;
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 120%;
}
th {
    border: 1px solid;
    border-bottom: 2px solid;
}
.footer td {
    font-weight: bold;
}
.colorTrSelected {
    background-color: rgb(178, 178, 178);
}


.buttonDisable {
    background: rgba(0, 0, 0, 0.37);
}

input[type=button]:active {
    background: rgba(0, 0, 0, 0.39);
}

.highlightOpacity {
    opacity: 0.3;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.highlight {
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background:rgb(255,255,255) !important;
    background: transparent\9 !important;
    background:rgba(0,0,0,0.5) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cFFFFFF,endColorstr=#4cFFFFFF);
}

.highlightOpacity {
    opacity: 0.5;
}

.textLeft {
    text-align: left;
}
/* --------- content info */
